.App {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2%;
  grid-gap: 30px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card{
  display: flex;
  align-items: center;
  width: 20%;
  background-color: #eaecec;
  border-radius: 16px;
  font-family: 'Raleway';
}

.card-info{
  padding: 7%;
}

.box:not(:last-child){
  margin-bottom: 12px;
}

.tag{
  width: 15%;
  margin-right: 7px;
  font-weight: bold;
}

.text{
  margin: 0;
}

.icon{
  width: 30%;
  margin-bottom: 5px;
}