.container{
    font-family: 'Roboto', sans-serif;
    display: flex;
}
.left{
    width: 81px;
    height: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .menu_list{
        display: flex;
        flex-direction: column;
        grid-gap: 50px;
    }
}